@import "../../../node_modules/fe-styleguide/assets/scss/core/_all-core";
// @import "../../../node_modules/fe-styleguide/assets/scss/modules/fe-angularjs-components/_fe-angularjs-components.copy-box";

.copy-box {
  $block: &;
  $copy-box-polygon: polygon(.98% 2.18%, 0% 92.45%, 34.71% 91.63%, 56.21% 100%, 89.92% 90.31%, 100% 81.05%, 99.68% 7.73%, 92.83% 0%, 41.29% 9.12%, .98% 2.18%);

  @mixin copy-box-colours($background, $color) {
    &--#{$background} {
      #{$block}__body {
        background-color: getColour($background);
        color: getColour($color);
      }

      #{$block}__outline:before {
        display: none;
      }
    }
  }

  display: inline-block;
  position: relative;
  max-width: calc(100% - 16px); // allows space for the shaddows
  text-align: center;
  margin-bottom: getSpacer(small); // allows space for outline and shadow

  &--minimal {
    margin-bottom: getSpacer(tiny);
  }

  &__body {
    background-color: getColour(black);
    color: getColour(white);
    display: block;
    padding: getSpacer(small) getSpacer(tiny);
    clip-path: $copy-box-polygon;
  }

  &__outline {
    position: relative;
    display: block;
    z-index: 1;

    &:before { // used to show the white border
      content: "";
      background-color: getColour(off-white);
      width: calc(100% + #{getSpacer(fine)});
      height: calc(100% + #{getSpacer(fine)});
      position: absolute;
      left: -2px;
      top: -2px;
      z-index: -1;
      clip-path: $copy-box-polygon;
    }

    &:after { // used to show the drop-shadow
      content: "";
      background-color: getColour(black);
      width: 100%;
      height: 100%;
      position: absolute;
      left: getSpacer(tiny);
      top: getSpacer(tiny);
      z-index: -2;
      clip-path: $copy-box-polygon;
    }
  }

  &__boing {
    width: 64px;
    height: getSpacer(small);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: getSpacer(fine);

    &--off-white {
      fill: getColour(off-white);
    }
  }

  &__dots {
    position: absolute;
    right: -1 * getSpacer(small);
    bottom: -1 * getSpacer(small);
    width: calc(100% - #{getSpacer(small)});
    height: calc(100% - #{getSpacer(small)});
    z-index: 0;
    background-image: url(../../assets/png/copy-box-dots.png);
    clip-path: $copy-box-polygon;
  }

  @include copy-box-colours(off-white, black);
  @include copy-box-colours(yellow, black);
  @include copy-box-colours(light-green, white);
  @include copy-box-colours(light-pink, white);
  @include copy-box-colours(light-blue, white);

  @media screen and (min-width: getBreakpoint(medium)) {
    &__body {
      padding: getSpacer(small);
    }
  }
}