@import "../../../node_modules/fe-styleguide/assets/scss/core/_all-core";

.btn {
  @mixin box-shadow($color) {
    box-shadow: 0 4px 0 getColour($color);
  }

  @include typography-scale(body-strong);

  vertical-align: baseline;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  line-height: 32px;
  border-radius: 24px;
  border: 2px solid $theme-button-border;
  outline: none;
  transition: all 150ms ease-in-out;
  transform: none;
  padding: 0 24px;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  margin-bottom: getSpacer(fine);

  color: $theme-button;
  background-color: $theme-button-bg;
    
  @include box-shadow(black);

  &:before,
  &:after {
    content: "";
    position: absolute;
    width: getIconSize(small);
    height: getIconSize(small);
    opacity: 0;
    display: block;
    background-size: 100%;
  }

  &:before {
    background-image: url('assets/CTA_doodles_left-01.svg');
    left: -12px;
    top: -4px;
  }

  &:after {
    background-image: url('assets/CTA_doodles_right-01.svg');
    right: -12px;
    bottom: -8px;
  }

  &:focus,
  &:hover {
    border: 2px solid getColour(black);
    transition: all 150ms ease-in-out;

    &:before {
      animation: doodle-btn-doodle-animation-left 300ms ease-in-out;
      animation-fill-mode: both;
    }

    &:after {
      animation: doodle-btn-doodle-animation-right 300ms ease-in-out;
      animation-fill-mode: both;
    }
  }

  &:active {
    border: 2px solid black;
    box-shadow: 0 1px 0 0;
    transform: translateY(4px);

    &:before,
    &:after {
      animation: doodle-btn-doodle-fade 150ms ease-in-out;
    }
  }

  &--primary {
    color: $theme-button-primary;
    background-color: $theme-button-primary-bg;
    border-color: $theme-button-primary-border;

    &:hover,
    &:focus {
      color: $theme-button-primary-hover;
      background-color: $theme-button-primary-hover-bg;
      border-color: $theme-button-primary-hover-border;
    }
  }

  &--white {
    color: $theme-button-white;
    background-color: $theme-button-white-bg;
    border-color: $theme-button-white-border;
    @include box-shadow(white);

    &:hover,
    &:focus {
      color: $theme-button-white-hover;
      background-color: $theme-button-white-hover-bg;
      border-color: $theme-button-white-hover-border;
    }

    &:before {
      background-image: url('CTA_doodles_left-01--white.svg');
    }

    &:after {
      background-image: svg('CTA_doodles_right-01--white.svg');
    }
  }

  @if mixin-exists(buttons-additional-styles) {
    @include buttons-additional-styles();
  }

  &--large {
    // stylelint-disable property-blacklist
    // picking a custom font size that makes the buttons look good
    font-size: 23px;
    // stylelint-enable
    line-height: getSpacer(large);
    border-radius: 30px;

    &:after {
      bottom: -4px;
    }
  }

  &--full-width {
    width: 100%;
  }

  &--loading,
  &--loading--white {
    position: relative;
    color: transparent;
    user-select: none;
    pointer-events: none;

    &:focus,
    &:hover,
    &:active {
      color: transparent;
    }

    &:after {
      content: '';
      opacity: 1;
      background-image: none;

      @include loading-icon(true);
    }
  }

  &--loading--white:after {
    @include loading-icon(true, white);
  }

  &--shake {
    @include animation-shake;
  }

  &.btn--disabled,
  &:disabled,
  &[disabled] {
    cursor: default;
    pointer-events: none;
    color: $theme-button-disabled;
    background-color: $theme-button-disabled-bg;
    border-color: $theme-button-disabled-border;
    opacity: .65;
    box-shadow: none;

    &:after {
      display: none;
    }
  }
}

@media screen and (min-width: $breakpoint-medium) {
  .btn {
    padding: 0 getSpacer(medium);
  }
}

@keyframes doodle-btn-doodle-animation-left {
  0% {
    opacity: 0;
    transform: translate(4px, 4px) scale(.95);
  }

  60% {
    opacity: 1;
    transform: translate(-2px, -2px) scale(1.02);
  }

  100% {
    opacity: 1;
    transform: translate(0) scale(1);
  }
}

@keyframes doodle-btn-doodle-animation-right {
  0% {
    opacity: 0;
    transform: translate(-4px, -4px) scale(.95);
  }

  60% {
    opacity: 1;
    transform: translate(2px, 2px) scale(1.02);
  }

  100% {
    opacity: 1;
    transform: translate(0) scale(1);
  }
}

@keyframes doodle-btn-doodle-fade {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}  